body {
  background-color: var(--preta);
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelha);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

.filme-principal {
  font-size: 16px;
  background-image: url("../img/background-files-x.jpg");
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .titulo {
  font-size: 40px;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  font-size: 18px;
}

.filme-principal .botoes .botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 15px 30px;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;
}

.filme-principal .botoes .botao:hover {
  background-color: rgb(233, 230, 230);
  color: black;
}

.filme-principal .botoes .botao i {
  margin-right: 10px;
}
