body {
  background-color: var(--preta);
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelha);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

.filme-principal {
  font-size: 16px;
  background-image: url("../img/background-files-x.jpg");
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .titulo {
  font-size: 40px;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  font-size: 18px;
}
